<section style="padding: 4rem 10rem;">
<div class="special-offers-container">
        <div class="special-offers-heading">
            <h1>wishlist</h1>
        </div>
        <div class="special-offers">
            {{#each products}}
            <div class="product-card">
                    <a href="/product-details/{{this.product._id}}" style="text-decoration: none;color: var(--dark);" class="image">
                        <img src="/images/product-images/{{this.product.images.[1]}}" alt="">
                    </a>
                    <a href="/product-details/{{this.product._id}}" style="text-decoration: none;color: var(--dark);padding: .2rem;">
                        <div class="">
                            {{this.product.prouductName}}
                        </div>
                        <div class="price margin-top margin-bottom">
                            <strong>{{this.product.productPrice}}</strong>
                        </div>
                    </a>
                    <div class="card-body margin-bottom">
                        <div class="wishlist-and-add margin-top">
                            <i class="fas fa-heart heart-wishlist" id="{{this.product._id}}"></i>
                            <a href="#"><button>Add to cart</button></a>
                        </div>
                    </div>
                
            </div>
            {{/each}}
        </div>
    </div>
</section>
